<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>台灣COVID-19快篩試劑地圖</title>
    <link rel="stylesheet" href="style.css">
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    
    <!-- Vue -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.33/vue.global.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script>
    <!-- d3-dsv -->
    <script src="https://cdn.jsdelivr.net/npm/d3-dsv@3"></script>
</head>
<body>
    <div id="app">
        <nav class="navbar navbar-expand-lg navbar-dark bg-info fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand font-weight-bold" href="#">台灣COVID-19快篩試劑地圖</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-2 mb-2 mb-lg-0 ms-auto">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">快篩地圖</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                防疫資訊
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">最新消息</a></li>
                                <li><a class="dropdown-item" href="#">快篩試劑教學</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#">購物車</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#">開發人員</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <main class="container p-3">
            <div class="bg-warning p-4 rounded">
                <b>身分證字號尾數單雙號分流機制：</b> 
                <p>單號星期一、三、五；雙號星期二、四、六；週日皆可購買。</p>
                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" v-model="citySelected">
                    <option selected value="clear">請選擇縣市</option>
                    <option v-for="item in cityArray" :value="item.countyname">{{ item.countyname }}</option>
                </select>
            </div>
            <div class='rg-container'>
                <div calss="">
    
                </div>
                <table class='rg-table table-hover' summary='Hed'>
                    <thead>
                        <tr>
                            <th class='text '>院所</th>
                            <th class='text '>地址</th>
                            <th class='text '>電話</th>
                            <th class=' '>數量</th>
                            <th class=' '>更新時間</th>
                            <th class='text '>備註</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class='' v-for="(hospital, index) in filterData">
                            <td class='text ' data-title='院所'>{{ hospital.name }}</td>
                            <td class='text ' data-title='地址'>{{ hospital.address }}</td>
                            <td class='text ' data-title='電話'>{{ hospital.phone }}</td>
                            <td class=' ' data-title='數量'>{{ hospital.number }}</td>
                            <td class=' ' data-title='更新時間'>{{ hospital.update }}</td>
                            <td class='text ' data-title='備註'>{{ hospital.memo }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</body>
<script>
    Vue.createApp({
        data: function() {
            return{
               openData: [],
               filterData: [],
               citySelected: 'clear',
               cityArray: JSON.parse('[{"countyname": "臺北市"},{"countyname": "臺中市"},{"countyname": "基隆市"},{"countyname": "臺南市"},{"countyname": "高雄市"},{"countyname": "新北市"},{"countyname": "宜蘭縣"},{"countyname": "桃園市"},{"countyname": "嘉義市"},{"countyname": "新竹縣"},{"countyname": "苗栗縣"},{"countyname": "南投縣"},{"countyname": "彰化縣"},{"countyname": "新竹市"},{"countyname": "雲林縣"},{"countyname": "嘉義縣"},{"countyname": "屏東縣"},{"countyname": "花蓮縣"},{"countyname": "臺東縣"},{"countyname": "金門縣"},{"countyname": "澎湖縣"},{"countyname": "連江縣"}]'),
            }
        },
        methods:{
            Init(){
                axios.get('https://data.nhi.gov.tw/Datasets/Download.ashx?rid=A21030000I-D03001-001&l=https://data.nhi.gov.tw/resource/Nhi_Fst/Fstdata.csv')
                 .then((res) => {
                    const rawData = d3.csvParse(res.data);
                    this.openData = rawData.map(item => ({code:item.醫事機構代碼, name: item.醫事機構名稱, address: item.醫事機構地址,longitude: item.經度, latitude: item.緯度, phone: item.醫事機構電話, type: item.廠牌項目, number: item.快篩試劑截至目前結餘存貨數量, update: item.來源資料時間, memo: item.備註}))
                })
                 .catch((err) => alert(err));
                this.filterData = this.openData;
            }
        },
        mounted: function() {
            this.Init();
        },
        watch: {
            citySelected: function(newValue, oldValue) {
                if ( newValue === 'clear') {
                    this.filterData = this.openData;
                } else {
                    this.filterData = this.openData.filter(e => e.address.indexOf(newValue) !== -1);
                }
            }
        }
    }).mount('#app')
</script>
</html>